/* Font added */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


/* --------------------------------- */

body {
    margin: 0;
    padding: 0;
    
  }
  
/* Shared Classes ---------------------  */

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
  }

.display_flex {
    display: flex;
 }

 .btn_orange{
    min-width: 197px;
    min-height: 50px;
    font-size: 1.3rem;
    font-weight: 600;
    background: orange;
    color: white;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
 }

 .btn_orange:hover{
    background-color: #ff6600;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
    color: #fff;
 }

 .btn_black{
    min-width: 197px;
    min-height: 50px;
    font-size: 1.3rem;
    font-weight: 600;
    background: black;
    color: white;
    
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
 }

 .btn_black:hover{
    background-color: #ff6600;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
    color: #fff;
 }


/* Nav Bar-------------------------------- */
.nav {
    justify-content: space-between;
    align-items: center;
    max-height: 102px;
    padding: 20 px;
}

.logo {
    justify-content: center;
    align-items: center;
}

.logo h3{
    font-weight: bold;
    font-size: 2rem;

}

.nav-list-name ul{
    list-style: none;
    gap: 32px;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}


#li_home{
    color: orange;
}
#li_about{
    color: skyblue;
}
#li_facilities{
    color: #05D4DF ;
}
#li_admission{
    color: #5D58EF;
}

/* Nav Done --------------------------------------- */

/* Hero ------------------------- */

.hero  {
    height: 576px;
    /* border: 2px solid skyblue; */
}

.hero-text{
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-right:50px ;
}

.hero_title{
    font-size: 3.5rem;
    font-weight: bold;
}

#empower{
    color: orange;
}
#t_vision{
    color: skyblue;
}

.hero_description{
    font-size: 1.2rem;
}